form {
  display: flex;
  flex-direction: column;
  color: white;
  border: #ffbded 0.3em solid;
  min-width: 40em;
  max-width: 40em;
  align-items: center;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logos {
  display: flex;
  align-items: center;
  height: 2em;
  width: 15em;
  border: solid 0.3em #ffbded;
  justify-content: space-evenly;
  padding: 1em;
}

.logo {
  height: 3em;
  border: none;
}

.logo:hover {
  animation: none;
  filter: invert(1);
}

input,
textarea {
  background-color: white;
  width: 28em;
}

textarea {
  height: 3em;
}

button {
  color: #e0ccfc;
  border: #ace9fa 0.2em solid;
  padding: 0.5em;
  border-radius: 20%/50%;
  display: flex;
  font-family: ChampBold;
  min-width: 6em;
  justify-content: center;
  margin-bottom: .5em;
  font-size: 1em;
}
 div {
   margin: .4em;
 }

 .text {
   padding: .3em;
 }